<div class="header">
        <image class="header-logo" src="img/logo.webp" alt="logo" ></image>
        <div class="header-main">
            <p1 class="header-title">SHISHI KHOA HỌC TỰ NHIÊN</p1>
            <div class="header-sidebar">
                <div class="sidebar-item active"><a href="/">Trang chủ</a></div>
                <div class="sidebar-item" ><a href="/menu">Menu</a></div>
                <div class="sidebar-item"> <a href="/album">Album</a></div>
                <div class="sidebar-item" ><a href="/branch">Chọn Chi Nhánh</a></div>
            </div>

            <script></script>
        </div>
        <div class="header-log">
            <a href="#" class="header-log-link">Login</a>
        </div>
    </div>